@import url('https://fonts.cdnfonts.com/css/futura-pt');

h1 {
    font-family: 'Futura PT', sans-serif;
    font-weight: 600;
    font-size: 72px;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Futura PT', sans-serif;
    font-weight: 600;
    font-size: 54px;
    color: black;
    text-align: center;
}

H3 {
    font-family: 'Futura PT', sans-serif;
    font-weight: 600;
    font-size: 44px;
    color: black;
    text-align: center;
}

h4 {
    font-family: 'Futura PT', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
    line-height: 1.5;
}

hr {
    height: 2px; 
    width: 1200px;
    background-color: black; 
    border: none;
    margin: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input[id="subject"] {
    font-family: 'Josefin Sans', sans-serif;
    width: 40%; 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }

.container input[type="text"],
.container input[type="email"] {
  font-family: 'Josefin Sans', sans-serif;
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.container input[type="text"]:focus,
.container input[type="email"]:focus {
  border: 2px solid #555;
}

label {
  font-size: 16px;
  margin-right: 10px;
}

.container2 input[type="submit"] {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  width: 7%;
  background-color: #B68D3D;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  border-radius: 20px;

}

.container input[type="submit"]:hover {
  background-color: #987734;
}

textarea {
  font-family: 'Josefin Sans', sans-serif;
  width: 70%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  margin-top: 12px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

textarea:focus {
  border: 2px solid #555;
}

.container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 75px;
}

.container1 i {
  margin-right: 30px;
}

#firstline {
    text-align:center;
    width:70%;
  }